<div class="container">
    <div class="ui card">
        <h1>Generador de Equipos</h1>
        <ul class="list">
            <li *ngFor="let member of this.members">{{ member }}</li>
        </ul>

        <div class="add-members-container">
            <input #addMemberInput type="text" placeholder="Nombre" (keyup.enter)="addMember()" (input)="onInput(addMemberInput.value)" [value]="newMemberName">
            <button (click)="addMember()">Agregar</button>
        </div>

        <div class="input-container">
            <input type="text" placeholder="# de Equipos">
            <button>Generar</button>
        </div>

        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    </div>
</div>